<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>PaaS-FE-AMC</display-name>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
			<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath*:spring/springmvc-servlet.xml
        	</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 单点登录认证  start-->
	<filter>
       <filter-name>SSO Authentication</filter-name>
       <filter-class>
           com.ai.sso.app.authentication.AuthenticationFilter
       </filter-class>
       <init-param>
           <param-name>casServerLoginUrl</param-name>
            <!-- <param-value>http://ssoapp.asiainfo.com:19200/ssoservice</param-value> --><!-- 域名地址 -->
           <!-- <param-value>http://10.1.31.227:19200/ssoservice</param-value> --><!-- 集群地址 -->
           <param-value>http://10.1.234.194:14411/ssoservice</param-value><!-- 测试地址-->
       </init-param>
       <init-param>
		   <param-name>ignoreURL</param-name>
		   <param-value></param-value> <!-- 修改2：不需校验的地址-->
	  </init-param>
    </filter>
    <!-- <filter-mapping>
       <filter-name>SSO Authentication</filter-name>
       <url-pattern>/aisseMobilePage/toAisseMobilePage</url-pattern>
       <url-pattern>/*</url-pattern>
    </filter-mapping> -->
     
	<!-- 单点登录认证 end -->
		
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page> 
        <error-code>500</error-code> 
        <location>/aiseeMobile/reload</location> 
    </error-page> 
    <error-page> 
        <error-code>400</error-code> 
        <location>/aiseeMobile/reload</location> 
    </error-page> 
    <error-page> 
        <error-code>403</error-code> 
        <location>/aiseeMobile/reload</location> 
    </error-page> 
    <error-page> 
        <error-code>404</error-code> 
        <location>/aiseeMobile/reload</location> 
    </error-page> 
	
</web-app>